* {
    padding: 0;
    margin: 0;
}

.s1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 25px;
}

.s1 .one {
    margin-left: 30px;
}

.s1 .one h1 {
    color: blue;
    font-family: 'Montez', cursive;
}

.s1 .one h2 {
    font-family: 'Ubuntu Mono';
}

.s1 .two {
    text-align: right;
}

.s1 .two .btn01 {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;
}